FOUNDRY_PROJECT_ENDPOINT="https://azrsbxlab0001aif2690.services.ai.azure.com/api/projects/azr-sbx-lab-0001-project-agent"
AZURE_AI_MODEL_DEPLOYMENT_NAME="gpt-5-mini"
APPLICATIONINSIGHTS_CONNECTION_STRING="InstrumentationKey=..."
OTEL_SERVICE_NAME="external-agent"